@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<article>
    <p>The idea behind Playlister is to allow multiple people to listen to the same music. Participants can search for songs that are on Spotify and add them to a shared playlist.</p>
    <p>Some possible ideas for future improvements include:</p>
    <ul>
        <li>Login with Facebook/Twitter</li>
        <li>Admin specific rights (deleting songs, removing members, etc.)</li>
        <li>Multiple "rooms"</li>
        <li>Chat</li>
        <li>Voting</li>
    </ul>
    <br />
    <h3>Project Information</h3>
    <p>Created By:</p>
    <ul>
        <li>Keith Weston</li>
        <li>Jake Ellis</li>
        <li>Oliver Ray</li>
        <li>Ben Bronson</li>
        <li>Ben Lane</li>
        <li>Seth Thompkins</li>
    </ul>
    <p>Tools used to create Playlister:</p>
    <ul>
        <li>Visual Studio 2012</li>
        <li>MS SQL Server 2012</li>
        <li><a href ="https://github.com/oray51/Feux11/">Github (Repo 1)</a></li>
        <li><a href ="https://github.com/JakeEllis/CIS411/">Github (Repo 2)</a></li>
        <li><a href ="https://docs.google.com/folder/d/0B0HwvyyxgvflcFFWcHl5bjEtS0E/edit">Google Docs</a></li>
        <li><a href ="http://www.scrumdo.com/organization/uofl-poc/dashboard">ScrumDo</a></li>
        <li><a href ="https://www.lucidchart.com/documents/edit/4b19-45c4-51339fb4-bab5-546e0a0013e5">LucidChart</a></li>
        <li><a href ="http://share.axure.com/5RLEQV/">Axure</a></li>
    </ul>
    <br />
</article>

