@{
    ViewBag.Title = "Help";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <strong>1. Is Playlister the same as Spotify?</strong>
    <p>No.  Playlister is a separate web application that consumes data from Spotify in order to bring people with similar taste in music together.</p>
    <strong>2. Can you search for songs that are not in Spotify?</strong>
    <p>No. The song must be available in Spotify to be available in Playlister.</p>
    <strong>3. Can I delete a song once I add it?</strong>
    <p>No.</p>
    <strong>4. Does the Spotify Play Button on this web application adhere to the terms of use?</strong>
    <p>Probably not. This is an educational project and is a possible idea for Spotify to implement.</p>
    <br />
</article>

