@{
    ViewBag.Title = "Music";
}

<hgroup class="title">

    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>

</hgroup>

<article>

    <h3>Search for a track.</h3>
    <input type="text" id="txt"/>
    <input type="button" id="artistSearchButton" value="Search"/>
    <div id="testName">

    </div>
         
</article>

<script>

$(document).ready(function () {
    $("#artistSearchButton").click(function () {
        document.getElementById("testName").innerHTML = " ";
        $.getJSON(buildUrl(document.getElementById('txt').value), function (data) {
            // turn string response to JSON array
            var trackJSON = JSON.stringify(data, null, 4);
            var responseArray = jQuery.parseJSON(trackJSON);
            // make sure there is a response
            if (responseArray.tracks.length > 0) {

                // get container
                var container = document.getElementById("testName");

                // iterate over each response
                for (var i = 0; i < responseArray.tracks.length; i += 1) {

                    // create the elems needed
                    var song = document.createElement("div");
                    song.className = "song";
                    song.dataName = responseArray.tracks[i].name;

                    
                    var pop = document.createElement("p");
                    pop.className = "pop";
                    pop.innerHTML = responseArray.tracks[i].popularity;
                    

                    var name = document.createElement("h3");
                    name.className = "name";
                    name.innerHTML = responseArray.tracks[i].name;
                    
                    var artistList = document.createElement("p");
                    artistList.className = "artistList";
                    for (var e = 0; e < responseArray.tracks[i].artists.length; e += 1) {
                        if (e === 0)
                            artistList.innerHTML = responseArray.tracks[i].artists[e].name;
                        else
                            artistList.innerHTML + " " + responseArray.tracks[i].artists[e].name;
                    }
                    // append them all to player wrapper
                    song.appendChild(name);
                    song.appendChild(pop);
                    song.appendChild(artistList);

                    // append player to container
                    container.appendChild(song);
                }
            } 
        
   
        });

    });
});

function buildUrl(trackString) {
    var url = "http://ws.spotify.com/search/1/track.json?q=" + trackString;
    return url;
}

</script>
